{% block "index" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
</head>
<body>
    {% template "form" %}
    <div id="contacts">
        {% template "display" %}
    </div>
</body>
</html>
{% end %}

{% block "form" %}
    <form hx-post="/contacts" hx-target="#contacts">
        name: <input type="text" name="name" />
        email: <input type="email" name="email" />
        <button type="submit">Create Contact</button>
    </form>
{% end %}

{% block "display" %}
    {% for contact in contacts %}
    <div>
        Name: <span>{{ contact.name }}</span>
        Email: <span>{{ contact.email }}</span>
    </div>
    {% endfor %}
{% end %}
